<html>
    <head>
        <title>Edit user</title>
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            #update {
                font-size: 4em;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Edit </h1>
        <form action="/users/{{ user['id'] }}" method="POST">
            First name: <br>
            <input type="text" name="first_name" value={{ user['first_name'] }}>
            <br><br>
            Last name: <br>
            <input type="text" name="last_name" value={{ user['last_name'] }}>
            <br><br>
            Email: <br>
            <input type="text" name="email" value={{ user['email'] }}>
            <br><br>
            <input type="submit" value="Update" id="update">
        </form>
        <p>
            <a href="/users/{{ user['id'] }}">Show</a> | 
            <a href="/users">Go Back</a>
        </p>
    </body>
</html>