<html>
    <head>
        <title>Add a new user</title>
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            #create {
                font-size: 4em;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Add a new user</h1>
        <form action="/users/create" method="POST">
            First name: <br>
            <input type="text" name="first_name">
            <br><br>
            Last name: <br>
            <input type="text" name="last_name">
            <br><br>
            Email: <br>
            <input type="text" name="email">
            <br><br>
            <input type="submit" value="Create" id="create">
        </form>
        <p><a href="/users/">Go back</a></p>
    </body>
</html>